@import '../../assets/variable.css';

.episode {
  background-color: #fff;
  padding: 1rem;
}

.title {
  font-family: var(--fontFamilyTitle);
  font-size: 2.3rem;
  margin: 2rem 0 0.5rem 0;

  span:first-child {
    letter-spacing: -0.3rem;
  }
  span:nth-child(2) {
    color: var(--accentColor);
    margin-right: 1rem;
  }

  @mixin small {
    font-size: 4rem;
  }
}

.episode_info {
  font-size: 0.9rem;
  color: #777;
  margin: 1rem 1.2rem 0 0;

  strong {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.player {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;

  @mixin small {
    margin: 2rem 0;
    padding: 1rem 2rem;
  }

  span {
    margin: 1rem;
  }
}

.notes {
  font-size: 1.1rem;
  white-space: pre-line;
  margin-bottom: 5rem;
  max-width: 100vw;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.pr {
  font-size: 0.9rem;
  color: #999;
  padding: 1rem;
}
