@import '../../assets/variable.css';
@import '../../assets/variable.css';

.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: 0.25rem;
  -webkit-appearance: button;
  cursor: pointer;
}

.a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.disabled {
  cursor: default;
  opacity: 0.65;
}

.primary {
  color: #fff;
  background-color: rgb(4, 113, 216);
  border-color: rgb(3, 99, 202);
}

.success {
  color: #fff;
  background-color: rgb(17, 133, 44);
  border-color: rgb(30, 141, 56);
}

.danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.light {
  color: #212529;
  background-color: rgb(211, 214, 216);
  border-color: rgb(208, 210, 211);
}

.link {
  font-weight: 400;
  color: inherit;
  text-decoration: underline;
  background-color: transparent;
}

.outline {
  color: rgb(4, 113, 216);
  background-color: transparent;
  background-image: none;
}

.primary.outline {
  color: rgb(4, 113, 216);
}

.success.outline {
  color: rgb(17, 133, 44);
}

.danger.outline {
  color: #dc3545;
}

.warning.outline {
  color: rgb(99, 74, 1);
}

.light.outline {
  color: #212529;
}
