@import '../../assets/variable.css';

.button_play {
  @mixin cleanButton;
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.PLAY {
  path {
    fill: #777;
  }
}

.PAUSE {
  path {
    fill: #1db954;
  }
}
