@import '../../assets/variable.css';
@import '../../../node_modules/plyr/dist/plyr.css';
@import url('https://use.typekit.net/xgd8uhq.css');

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSizeBody);
  color: var(--textColor);
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  background-image: var(--bgImage);
}

a {
  color: var(--accentColor);
}

.plyr {
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  margin: 16px auto;
}
