.switcher {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;

  svg {
    width: 1.5rem;
    fill: var(--sunIconColor);
  }

  svg:last-child {
    position: relative;
    top: -2px;
    left: -5px;
    width: 1.3rem;
    fill: var(--moonIconColor);
  }
}

.container {
  display: inline-flex;
  position: relative;
  align-items: center;
  height: 1.5rem;
  margin: 0 0.2rem;
}

.container > input {
  appearance: none;
  display: block;
  position: absolute;
  margin: 0;
  outline: none;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.container > span.switch {
  display: flex;
  position: relative;
  align-items: center;
  width: 36px;
  margin: 0 8px 0 0;
  padding: 0 0;
  cursor: pointer;
}

.container > span.switch::before {
  content: '';
  display: inline-flex;
  width: 100%;
  height: 14px;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  background-color: #eee;
  vertical-align: top;
  transition: all 0.2s;
}

.container > span.switch::after {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 0 5px 1px #999;
  transition: all 0.2s;
}

.container > input:checked + span.switch::before {
  background-color: rgb(173, 170, 170);
}

.container > input:checked + span.switch::after {
  background-color: #333;
  box-shadow: 0 0 5px 1px #999;
  transform: translateX(18px);
}
