@import '../../assets/variable.css';

.header_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 130px 80px;
  max-width: var(--maxWidth);
  margin: 1rem auto 1rem;
  padding: 1rem 0.5rem;

  @mixin small {
    grid-template-columns: 60% 40%;
    grid-template-rows: 160px 130px;
    margin: 2rem auto 2rem;
    padding: 1rem 0.5rem;
  }

  @mixin medium {
    grid-template-columns: 380px 50px 1fr 1fr;
    grid-template-rows: 130px 100px;
    margin: 5rem auto 2rem;
    padding: 1rem 0.5rem;
  }
}

.header_title {
  grid-column: 0/1;
  grid-row: 0/1;
  font-family: var(--fontFamilyTitle);
  font-size: 4rem;
  line-height: 3.7rem;
  letter-spacing: 0.1rem;
  color: var(--headerColor);
  text-decoration: none;

  @mixin small {
    grid-column: 0/2;
    grid-row: 0/2;
    font-size: 7rem;
    line-height: 6rem;
    letter-spacing: 0.1rem;
  }

  @mixin medium {
    font-size: 9.5rem;
    line-height: 7.5rem;
    letter-spacing: 0.1rem;
  }
}

.header_baseline {
  grid-column: 1;
  grid-row: 2/3;
  align-self: end;
  font-family: monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 0.1rem;
  color: var(----headerColor);

  @mixin small {
    grid-column: 1;
    grid-row: 2/3;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  @mixin medium {
    grid-column: 2/4;
    grid-row: 2;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}

.logo {
  display: grid;
  grid-template-columns: 120px 70px;
  align-self: start;
  justify-self: end;
  grid-column: 2;
  grid-row: 1/2;
  font-family: var(--fontFamilyTitle);
  font-size: 19rem;
  line-height: 14.5rem;
  letter-spacing: -4.7rem;
  margin-top: -0.8rem;

  @mixin small {
    grid-template-columns: 170px 90px;
    grid-column: 2;
    grid-row: 1/2;
    font-size: 26.5rem;
    line-height: 21.5rem;
    letter-spacing: -7rem;
    margin-top: -1.4rem;
  }

  @mixin medium {
    grid-template-columns: 145px 80px;
    grid-column: 4;
    grid-row: 1/3;
    font-size: 21rem;
    line-height: 17.5rem;
    letter-spacing: -5rem;
  }

  span:last-child {
    justify-self: start;
    color: var(--accentColor);
    margin-left: -1rem;
  }
}
