@import '../../assets/variable.css';

.footer_container {
  display: flex;
  flex-direction: column;
  max-width: var(--maxWidth);
  margin: 2rem auto;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  color: var(--footerColor);

  > div {
    flex: 1;
  }

  > div:last-child {
    text-align: left;
  }

  @mixin small {
    flex-direction: row;
  }
}

.links {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;

  @mixin small {
    margin-top: 0;
  }

  button {
    text-align: left;
    color: var(--accentColor);
    padding: 0;
  }
}
