@import './normalize.css'
@import './mixins.css';

@custom-media --medium-viewport (min-width: 500px);

@custom-media --large-viewport (min-width: 780px);

:root {
  --maxWidth: 1080px;
  --fontSizeBody: 16px;
  --fontFamilyTitle: Mono45-Headline,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  --fontFamily: Nunito,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  --bgColor: #FFD800;
  --bgMain: #F6F4F8;
  --textColor: #5A5A5A;
  --headerColor: #5A5A5A;
  --accentColor: #A700FF;
  --brandColor: rgba(255,217, 0, 1);
}
