@import './mixins.css';

@custom-media --medium-viewport (min-width: 500px);

@custom-media --large-viewport (min-width: 780px);

:root {
  --maxWidth: 1000px;
  --fontSizeBody: 16px;
  --fontFamily: sans-serif;
  --bgColor: #fafafa;
  --textColor: #313332;
  --accentColor: purple;
  --brandColor: rgba(255,217, 0, 1);
}
